.section{
    padding-top:60px ;
    padding-bottom: 60px;
}
.section h2.section-head{
    color: black;
    text-align: center;
    margin-bottom: 40px;
    
}
.section h2.section-head::after{
    background-color:rgba(192, 118, 118, 0.997) ;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 20px auto;
}
#header{
    color: rgb(240, 248, 255);
    background-color:rgba(192, 118, 118, 0.997);
}
#logo{
    font-size: 2rem;
}
#menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li{
    display: inline-block;
    
}
#menu li a{
    color: aliceblue;
    text-decoration: none;
    padding:12px 15px;
    display: block;
}
#menu li a:hover{
    background-color: rgb(128, 68, 68);
}
.banner{
    background-image: url("../images/istockphoto-618544608-1024x1024.jpg");
    background-size: cover;

}
.baneer-title{
    padding-top: 5rem;
}
.baneer-title h1{
    background-color: rgba(240, 248, 255,0.75);
    display: inline-block;
    padding: 10px;
    margin: 0;
}
.baneer-title p.lead{
    color: aliceblue;
    background-color:rgba(192, 118, 118, 0.7);
}
.service-box{
    text-align: center;
}
.service-box i.fa{
    color: rgba(192, 118, 118, 0.997);
    font-size: 70px;
    margin-bottom: 15px;
}
#testimonials{
    color:white;
    background-image: url("../images/nicolas-thomas-PLDkBHbM3Hc-unsplash.jpg");
    background-size: cover;
    padding: 50px 0;
    position: relative;
}
/* #testimonials:before{
    background: rgba(52, 73, 94, 0.3);
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
} */
#testimonials img{
    border-radius: 50px;
}
#testimonials h2.section-head{
    color: aliceblue;
}
.news-post img{
    width: 100%;
    margin-bottom: 10px;
    /* box-shadow: 10px black; */
}
.news-post h4{
    font-size: 1.35rem;
}
.news-post h4 a{
    color: rgba(192, 118, 118, 0.997);
    text-decoration: none;
}
.post-date{
    font-size: 13px;
    margin-bottom: 2px;
}
.post-date:before{
    content: "\f073";
    font-family: FontAwesome;
    padding-right: 5px;
}
a.readmore{
    font-size: 14px;
    color: rgba(192, 118, 118, 0.997);
}
a.readmore::after{
    content: "\f101";
    font-family: FontAwesome;
    padding-left: 5px;
}
#footer-sidebar{
    color: aliceblue;
    background-color: rgb(30, 45, 52);
    padding: 20px 0;
}
.footer-widget h4::after{
    content: "";
    background-color: white;
    display: block;
    height: 2px;
    width: 50px;
    margin: 5px 0;
}
.footer-widget a{
    color: aliceblue;
    text-decoration: none;
}
.letest-news{
    list-style: none;
    padding: 0;
    margin: 0;
} 
.letest-news li{
    margin-bottom: 3px;
}
.letest-news li:before{
    content: "\f101";
    font-family: FontAwesome;
    padding-right: 5px;
}
#footer{
    color: aliceblue;
    background-color: black;
    padding: 10px 0;
}
#social-tag{
    list-style: none;
    color:aliceblue;
    margin: 0;
    padding: 0;
}
#social-tag li{
    display: inline-block;
    padding-left: 5px;
}
#social-tag li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}
@media (max-width : 992px){
    #logo{
        font-size: 1.75rem;
    }
    #menu li a{
       font-size: 15px;
    }
    .news-post{
        margin-bottom: 30px;
    }
}
@media  (max-width: 768px){
    #logo{
        text-align: center;
        margin: 10px 0;
    }
    #menu{
        text-align: center;
    }
    .baneer-title{
        padding-top: 0;
    }
    .baneer-title h1{
        font-size: 1.7rem;
    }
    .section{
        padding-top:20px ;
        padding-bottom: 20px;
    }
    .testimonials{
        text-align: center;
        margin-bottom:20px;
       
    }
    #testimonials{
        padding: 20px 0;
    }
    .service-box{
        margin-bottom: 30px;
    }
   
    .footer-widget{
        margin-bottom: 20px;
    }
    #footer{
        text-align: center;
    }
    #social-tag{
        margin-top: 10px;
    }
}